.App {
  text-align: center;
  justify-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.fighters-grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(205px * 4);
  gap: 5px;
}

.fighters-grid div {
  width: 200px;
  transition: transform 0.3s;
  position: relative;
  background-color:rgb(255, 255, 255);
}

.fighters-grid div:hover {
  transform: scale(1.10);
  cursor: pointer;
}

.fighter-name {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 3px 3px rgb(218, 14, 225);
  color:rgb(255, 255, 255);
  
}

.fighter-img {
  width: 100%;
  height: auto;

}

h1 {
  font-family: 'Cinzel';;
}

#fighter-screen {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color:chartreuse;
  z-index: .01;
}

.char-model {

}

.char-name {
  
}